@media print {
    :root {
        background-color: white !important;
        color: black !important;
    }

    nav,
    footer {
        display: none !important;
        visibility: collapse !important;
    }

    main {
        max-width: unset !important;

        figure {
            img {
                max-width: 720px;
            }

            figcaption,
            figcaption * {
                color: hsl(0, 0%, 12.5%) !important;
                text-decoration: none !important;
            }
        }
    }
}
