---
import type { Post } from "../types/Post";
import Layout from "../layouts/Layout.astro";
import { ArticleData, data } from "../utils/medium";

export function getStaticPaths(): Array<Post> {
    return data.entries.map((x) => ({
        params: {
            slug: x.slug,
        },
        props: {
            articleData: x,
        },
    }));
}

const articleData: ArticleData = Astro.props.articleData;
---

<Layout
    title={articleData?.title ?? "N/A"}
    keywords={articleData.keywords}
    preview={articleData.preview_img}
    published={articleData.published}
    summary={articleData.summary}
>
    <h1>{articleData?.title ?? "N/A"}</h1>
    <article set:html={articleData?.content ?? "N/A"} />
</Layout>
