@use "theme";

article {
  display: block;

  > * {
    display: block;
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  nav.toc {
    .toc-level-1 {
      list-style-type: decimal;

      .toc-level-2 {
        list-style-type: lower-alpha;

        .toc-level-3 {
          list-style-type: lower-roman;

          .toc-level-4 {
            display: none;
          }
        }
      }
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h1,
  h2 {
    border-bottom: 1px solid rgba(theme.$foreground, 0.5);
    padding-bottom: 0.25em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: theme.$foreground-heading !important;

    > * {
      font-size: 1em !important;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  i,
  em {
    font-style: italic;
  }

  u,
  ins {
    text-decoration: underline;
  }

  s,
  del {
    text-decoration: line-through;
  }

  a {
    cursor: pointer;
    will-change: color, text-decoration;

    &:not(:hover) {
      color: theme.$foreground-heading;
      text-decoration: none;
    }

    &:hover {
      color: theme.$foreground-heading;
      text-decoration: underline;
    }
  }

  .cites {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem;
  }
}
