@use "theme";

footer {
  max-width: 800px;
  margin: 4rem auto;

  > * {
    display: block;
    margin: 0.5rem 0;
  }

  .footer-title {
    font-size: 1.5em;
    border-bottom: 1px solid rgba(theme.$foreground, 0.5);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25em;
  }

  a {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
  }
}
