@use "theme";
@use "sass:math";

.articles {
  list-style: none;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(
    auto-fill,
    minmax(math.div(theme.$max-page-width, 3), 1fr)
  );
  gap: 1rem;

  > li {
    display: block;

    > a {
      display: block;
      text-decoration: none;

      > * {
        display: block;

        &.article-thumbnail {
          font-size: 1.5rem;
        }

        &.article-title {
          color: theme.$foreground-heading;
          font-weight: 700;
        }
      }
    }
  }
}
