@use "theme";
@use "sass:math";

.articles {
  list-style: none;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(
    auto-fill,
    minmax(math.div(theme.$max-page-width, 3), 1fr)
  );
  gap: 1rem;

  > li {
    display: block;

    > * {
      display: block;
    }

    > a {
      text-decoration: none;

      > * {
        display: block;

        &.article-title {
          color: theme.$foreground-heading;
          font-weight: 700;
        }

        &.article-preview {
          opacity: 0.5;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-height: #{3em * 1.45};
        }
      }
    }
  }
}
